.mt-5{
    background-color: #191919;
}

.section_portfolio-title{
    padding: 20px;
}
.container_img figure img{
    width: 100%;
    border-radius: 10px;
}

.project_text-h4{
    font-weight: bold;
    margin-bottom: 40px;
}

.project__btn{
    border: 1px solid gray;
    background-color: #191919;
}
.container_info a{
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
}
.container_info h2{
    font-weight: bold;
}

.container_info a:hover{
    background-color: hsl(341, 100%, 49%, 0.4);
    color: white;
    opacity: 9deg;
}
@media (max-width: 400px) {
    .mt-5{
        width: 110%;
        background-color: #191919;
    }
    
    }