.service-title{
font-weight: bold;
font-size: 45px;
}
.service-subtitle{
color: #f0f0f0;
font-size: 20px;
}
.card-info{
font-size: 17px;
color: white;
text-align: center;

}
.icon{
text-align: center;
margin-top: 8px;
}

.fa-solid,svg{
font-size: 40px;
color: #ef0963;
}
.container__card{
word-wrap: break-word;
padding: 10px;
}
.container__card .DH{
    margin-top: 62px;
}
.container__card .CUC{
    margin-top: 48px;
}
.section_services-card{
width: 100%;
display: flex;
}
.service__text{
font-size: 23px;
font-weight: bold;
text-align: center;
}
.section_container-card1,.section_container-card2 {
display: flex;
flex-direction: row;
justify-content: center;
background-size: cover;
height: 940px;
}
.section_container-card1 .coll-3, .section_container-card2 .coll-3{
width: 460px;
height: 900px;
margin: 10px;
background-color: #191919;
border-radius: 17px;
}
.img_platzi{
    margin-top: 10px;
width: 180px;
}
.dh{
margin-top: 76px;
width: 270px;
}
.cuc{
margin-top: 10px;
width: 150px;
}
.container__card{
    overflow: hidden;
}

.section_container-card1 .coll-3:hover, .section_container-card2 .coll-3:hover{
background-image: linear-gradient(90deg,#f61b10,#ef0963);

}
.coll-3:hover .icon .fa-solid {
color: white;
}
.coll-3:hover .icon .svg {
color: white;
}



@media (max-width: 1200px) {
.section_container-card1,.section_container-card2 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.section_container-card1{

    height: 2500px;
    
    }
}
@media (max-width: 425px) {
    .section_container-card1 .coll-3 {
    margin: 20px;
    padding: 20px;
    width: 450px;
    
    }
    
    }